@*____________________________View is utilised as a partial view to repopulate the items when the selected department changes_________*@


@model IEnumerable<ABC_backend.Models.Item>


@foreach (var item in Model)
{
    <div class="gallery">
        <div style="height:180px">
            <img src="@item.ImgURL" alt="No image selected" />
        </div>
        <div style="padding: 10px 10px 10px 10px;">
            <div style="height:110px;">
                <h4>@item.ItemName</h4>
                <h6>@item.Description</h6>
            </div>
            <div>
                <h5>Price:          R @item.Price.ToString("0.00")</h5>
            </div>
        </div>
        <div style="padding-left:40px">
            @Html.ActionLink("Update", "Update", new { id = item.RowKey }) | @Html.ActionLink("Delete", "Delete", new { id = item.RowKey })
        </div>
    </div>
}

