@*__________________________________View accepts a list of items as model and populates a gallery of items for display____________________________*@

@model IEnumerable<ABC_backend.Models.Item>
@{
    ViewBag.Title = "ListItems";
}

<h2>List of Items</h2>
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.First().PartitionKey, "Department:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Departments", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div id="target">
            @foreach (var item in Model)
            {
                <div class="gallery">
                    <div style="height:180px">
                        <img src="@item.ImgURL" alt="No image selected" />
                    </div>
                    <div style="padding: 10px 10px 10px 10px;">
                        <div style="height:110px;">
                            <h4>@item.ItemName</h4>
                            <h6>@item.Description</h6>
                        </div>
                        <div>
                            <h5>Price:          R @item.Price.ToString("0.00")</h5>
                        </div>
                    </div>
                    <div style="padding-left:40px">
                        @Html.ActionLink("Update", "Update", new { id = item.RowKey }) | @Html.ActionLink("Delete", "Delete", new { id = item.RowKey })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@*Label styled to allow image and radiobutton to combine for selectable images, Gallery div class created, drop area div created*@
<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
        height: 350px;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: 180px;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>

@*Scripts provide functionality to drop area and repopulation of target div when department combobox selection changes.*@
@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("#Departments").change(function ()
            {
                $("#log").ajaxError(function (event, jqxhr, settings, exception)
                {
                    alert(exception);
                });

                var deptSelected = $("select option:selected").first().text();
                $.get('@Url.Action("ItemByDepartment")',{ id: deptSelected }, function (data)
                {
                    $("#target").html(data);
                });
            });
        });
    </script>
}
